@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

@media print {
  @page {
    margin: 0;
  }

  body {
    background: white;
  }
}

body {
  margin: 0;
  background: #f4f4f5;
  color: #18181b;
}
